{{!-- <figure contenteditable="false">
    <img src="{{img}}" alt="" />
    <div class="medium-insert-embeds-overlay">ddd</div>
    {{#if progress }}
        <div class="medium-insert-images-progress"></div>
    {{/if}}
</figure> --}}
